html {
}

body {
    background-color: blue;
}

::selection {
}

#theme-switcher {
    background: yellow;
  color: white;
  padding: 12px;
  font-family: monospace;
}

label {
}

select {
}

#content {
}

h1 {
}

h1::first-letter {
}

time {
}

p {
}

ol {
}

li {
}

li:hover {
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
